#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.1rem;
  
}


#logo {
  width: 100%;
  max-width: 240px;
  padding: 20px 0;
}

#navbar {
  display: flex;
  gap: 30px;  
}

#navbar > li {
  list-style: none;
  
}

.navlink {
  text-decoration: none;
  font-weight: bold ;
  color: #434343;
}

.button1 {
  background-color: #43A724;
  color: #fff;
  border-radius: 30px;
  padding: 14px;
}

.button2 {
  border: 3px solid #43A724;
  color: #43A724;
  border-radius: 30px;
  padding: 11px;
}