*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #1B1B32;
  color: #ffffff;
  font-family: Verdana, sans-serif;
  font-size: 16px;
  padding: 20px 0;
}

h1,
p {
  text-align: center;
  margin-top: 10px;
}

form {
  width: 60vw;
  min-width: 300px;
  max-width: 500px;
  margin: 0 auto;
}

fieldset {
  border: none;
  margin-top: 20px;
}

fieldset:last-of-type {
  margin-bottom: 20px;
}

input,
select,
textarea {
  width: 100%;
  margin: 8px 0;
  height: 2em;
  padding: 1px 2px;
}

input,
select,
button,
textarea {
  display: block;
  background-color: #0A0A23;
  border: none;
  color: #ffffff;
}

.inline {
  width: unset;
  display: inline;
  vertical-align: middle;
}

button {
  width: 60%;
  margin: 30px auto 0;
  background-color: #3B3B4F;
  border: 1px solid #ffffff;
  height: 2.2em;
  font-size: 1.1em;
}

button:hover {
  cursor: pointer;
  background-color: #1B1B32;
}

.error {
  margin: 3px 0;
  background-color: red;
  padding: 2px;
}


